/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
.main-manu{
    height:130px;
    text-align: right;
}
.logo{
    padding: 20px 0;
}
.main-manu ul{
    margin: 0;
    float: right;
    
}
.main-manu ul li{
    list-style-type: none;
    float: left;
    text-align: left;
}
.manu-ul{

}
a.nav-link{
    color:#2e2e30;
    font-family: 'Raleway', sans-serif;
    font-size: ;
}
/* ===slider=area== */

/* ===Digital-Agency== */
.Digital-Agency h2{
    color: #333333;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 26px ;
    line-height: 90pt;
}
.Digital-Agency h2 > span{
    color: #f96666;
}
.Digital-Agency p {
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 20pt;
    text-align: justify;
    padding-right: 89px;
}
.Digital-Agency a.digital-button {
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #f96666;
    color: #ffffff;
    transform: skewX(-18deg);
    margin-left: 13px;
}
}
.img-size{
    height: 313px;
    margin-top: 48px;
    margin-left: 10px;
    
}
.ok-fix{
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 48px;
}
/* ====our=servise=== */
.p-t{
    padding: 50px 0;
}
.our-servise{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    font-weight: 700;
    line-height: 90pt;
   
}
.hover-after{
    position: relative;
}
.hover-after::after {
    position: absolute;
    content: "";
    width: 0;
    height: 8px;
    border-radius: 15px;
    background: #f96666;
    /* bottom: -173%; */
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.4s all ease;
}
.hover-after:hover::after {
    width: 100%;
}
.our-servise >span{
    color: #f96666;
}
.ower-servise {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.2), 0 9px 24px 0 rgba(0, 0, 0, 0);
    position: relative;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    font-weight: 700;
}
.ower-servise::before {
    position: absolute;
    content: "";
    width: 84px;
    height: 3px;
    top: 20%;
    left: 0;
    background-color:#f96666;
}
li.isto-manu{
    list-style-type: none;

}

a.nav-link{
    color:#2e2e30;
    font-family: 'Raleway', sans-serif;
    font-size: ;
}
/* ====prothfolio==area= */
.protfulio-img{
    width:auto;
    height: 260px;
}
.prothfoloi-filx{
    width: 100%;
    height: 100%;
}
.end-btn{
    padding: 14px 30px;
}
a.btn-common{
    background-color: #f96666;
    color: #ffffff;
    transform: skewX(-18deg);
}

/* ===team=section== */
.box{
    position: relative;
    text-align: center;
    height: 400px;
    width: 350px;
    
}
.img-resize{
    
}
.box::before{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255,255,255)  10%, rgb(249,102,102) 300%);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s all ease;
}
.box:hover::before{
    opacity: 0.90;

}
.team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.box .team-content{
    width: 100%;
    padding: 20px 0 30px;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    bottom: 50%;
    left: 0;
    transition: 0.3s all ease;

}
.box:hover .team-content{
    opacity: 1;
    bottom: 0;
}
.box .team-content::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 8px;
    background: #2e2e30;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -100px;
    transition: 0.3s all ease-in-out;

}
.box:hover .team-content::before{
    width: 100%;
    bottom: 0;
}
.box .tittle{
    font-size: 20px;
    font-weight: 700;
    color:#333333 ;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 0 0;
}
.box .span{
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #666666;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s all ease;
    color: #ffffff;
}


/* ====video==== */
.creat-video-part .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.video-img{
   width: auto;
   height: 530px;
}
.img-width{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}